body{
    margin: 0%;
    padding: 0%;
    font-family: 'Inter Tight', sans-serif !important;
    background-color: #16171b !important;
    color: rgb(245, 245, 245) !important;
}

nav{
    padding: 3% 9%;
    display: flex;
    justify-content: space-between;
}

nav div a{
    padding-left: 10px;
    font-size: 20px;
    color: rgb(245, 245, 245);
    transition: all .2s ease-in-out;
}

nav div a:hover{
    color: #6370f8;
}

.main{
    padding: 4% 9%;
}

.main img{
    width: 100%;
}

.block{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.instruc .instruc-title{
    color: #6370f8;
    margin-bottom: 0px;
}

.instruc .instruc-name{
    font-weight: 500;
}

.coverndetails{
    max-width: 700px;
}

.cta-box .price-box{
    border: 1px #8a8a8a solid;
    padding: 4%;
    border-radius: 5px;
    min-width: 300px;
}

.course-num{
    color: #aaaaaa;
}

.course-name{
    font-size: 30px;
    font-weight: 600;
    margin: 0px;
    
}

.price{
    font-size: 30px;
    font-weight: 700;
    margin: 1px 0px;
}

.price-box a{
    color: rgb(245, 245, 245);
    text-decoration: none;
    width: inherit;
    padding: 12px 24px;
    background-color: #3a439d;
    box-shadow: 0px 5px #242a68;
    transition: all .2s ease-in-out;
}

.price-box a:hover{
    color: rgb(233, 233, 233);
    text-decoration: none;
    width: inherit;
    padding: 12px 24px;
    background-color: #343b8d;
    box-shadow: 0px 2px #242a68;
}

.title2{
    font-weight: 600;
    font-size: 22px;
}

.title3{
    font-weight: 600;
}


.accordion-item{
    color: rgb(245, 245, 245) !important;

}


.accordion-button{
    background-color: #2e2f35 !important;
    color: rgb(245, 245, 245) !important;
    
}

.accordion-button::after{
    background-image: url('./Images/chevron.png') !important;
}

.accordion-item{
    background-color: #16171b !important;
}

.accordion-body{
    color: rgb(245, 245, 245);
}

#flush-collapseOne{
    color: rgb(245, 245, 245) !important;

}


ul li:before {
    content: '\1F449';
    margin-left: -20px;
    margin-right: 10px;
}

p span{
    color: #6370f8 !important;
}




@media only screen and (max-width: 950px) and  (min-width: 601px){

    .block {
        display: unset;
    }

    .course-name {
        font-size: 20px;
        max-width: unset;
        margin-top: 20px;
    }

}



@media only screen and (max-width: 600px) {
    

    nav a{
        font-size: 14px;
    }

    nav{
        padding: 5% 6%;

    }

    .main{
        padding: 4% 6%;
    }
    
    .main img{
        margin-bottom: 20px;
    }

    .course-name{
        font-size: 20px;
        max-width: unset;
    }

    .block{
        display: unset;
    }
}


